@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var logo = "~/Themes/v1/Content/images/logo.png";
}

@Html.Action("HeaderLinks", "Common")


<div id="sidebar-fixed" class="sidebar hidden-xs hidden-sm">
    @*Logo*@
    <a href="@Url.RouteUrl("HomePage")"><img src="@Url.Content(logo)" title="FORBETTERTOMORROWS" class="img-responsive sav-logo" /></a>

    <div class="sidebar-menu">
        @{

            if (string.IsNullOrEmpty(ViewBag.HideMenu))
            {
                @Html.Partial("Menu");
            }

            if (IsSectionDefined("Left"))
            {
                @RenderSection("Left", false);
            }

        }
    </div>
</div>


<div id="body-content">
    @*Menu Mobile*@
    @Html.Action("MenuSideMobile", "Common")

    <div class="container-fluid cf-padding">
        <div class="row">
            <div class="col-sm-2 hidden-xs hidden-sm colKlein">

            </div>
            <div class="col-sm-10 pt-alignment">
                @RenderBody()
            </div>

        </div>
    </div>

</div>




@Html.Action("Footer", "Common")


@section RootScripts{
    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("scripts", required: false)
    }
}
