@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Themes
@{
    var themeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
}
<!DOCTYPE html>
<html>
<head>
    <title>@Html.NopTitle(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/bootstrapcss")
    <link href="@Url.Content(string.Format("~/Themes/{0}/Content/print.css", themeName))" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")

</head>
<body>
    @RenderBody()
</body>
</html>
