@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@{
    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
}




<!--Top balk not needed-->
<div class="navbar navbar-fixed-top top-balk">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="logo-wrapper">
                <a href="@Url.RouteUrl("HomePage")"><img src="@Url.Content("~/images/logo.jpg")" title="@storeName" class="sav-logo" /></a>
            </div>

            <button type="button" class="navbar-toggle pull-left" data-toggle="offcanvas" data-target=".navbar-collapse">
                <i class="fa fa-bars fa-lg"></i>
            </button>

            <ul class="nav navbar-nav navbar-right pull-right mini-menu">
                <li><a href="@Url.RouteUrl("Login")" class="ico-login" title="@T("Account.Login")"><i class="fa fa-lock fa-lg"></i> </a></li>
                <li>
                    <a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">
                        <i class="fa fa-suitcase"></i>
                        <span class="cart-qty">@T("ShoppingCart.HeaderQuantity", 1)</span>
                    </a>
                </li>
            </ul>

        </div>

        <div class="navbar-collapse collapse">
            @Html.Action("HeaderLinks", "Common")
            @*@Html.Partial("_LoginPartial")*@
        </div>
    </div>
</div>

<!-- end top balk-->


@Html.Partial("_Notifications")
       



