@model CatalogPagingFilteringModel.SpecificationFilterModel
@using Nop.Web.Models.Catalog;
@{
    var notFilteredItemsGroups = Model.NotFilteredItems.GroupBy(x => x.SpecificationAttributeName);
}



@if (Model.Enabled)
{


    @*<div class="product-filter product-spec-filter">
        <div class="filter-title">
            <strong>@T("Filtering.SpecificationFilter")</strong>
        </div>
        <div class="filter-content">*@
    
    
    
            if (Model.NotFilteredItems.Count > 0)
            {
                <div id="product-filter" class="hidden-xs hidden-sm">
                    <ul>
                        <li class="">
                            <a id="filter2" role="button" data-toggle="dropdown" href="#" class="caretup1">Color</a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a class="filter f-aktief active" data-filter="all">All colors</a>
                                </li>
                              
                                @foreach (var group in notFilteredItemsGroups)
                                {
                                    var groupList = group.ToList();
                                    foreach (var spec in groupList)
                                    {
                                        <li>
                                            <a class="filter f-aktief" data-filter=".@spec.SpecificationAttributeName">@spec.SpecificationAttributeName</a>
                                        </li>
                                     
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
               
                
                @*Mobile - not suitable for mobile layout*@
                @*<div class="sort-list-btn pull-left hidden-md hidden-lg">
                    <select class="ddlfilter" id="dlFilters">
                        <option class="filter active" data-filter="all" value="all">Color: All colors</option>
                        @foreach (var group in notFilteredItemsGroups)
                        {
                            var groupList = group.ToList();
                            foreach (var spec in groupList)
                            {
                                <option class="filter" data-filter=".@spec.SpecificationAttributeName" value="@spec.SpecificationAttributeName">Color: @spec.SpecificationAttributeName</option>
                            }
                        }
                    </select>
                </div>*@
                
                @*<div class="available-items">
                        @foreach (var group in notFilteredItemsGroups)
                        {
                            var groupList = group.ToList();

                            <ul class="group product-spec-group">
                                <li class="title">
                                    <strong>@groupList[0].SpecificationAttributeName</strong>
                                </li>

                                @foreach (var spec in groupList)
                                {
                                    <li class="item">
                                        <a href="@spec.FilterUrl">@spec.SpecificationAttributeOptionName</a>
                                    </li>
                                }
                            </ul>
                        }
                    </div>*@
    
    
            @* we put View selector here - custom SAV *@
            <div id="view-selector" class="hidden-xs hidden-sm">
                <ul>
                    <li class="">

                        <a id="filterView" role="button" data-toggle="dropdown" href="#" class="caretup2">View </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a data-col="col-sm-6" class="grid-change">2</a>
                            </li>
                            <li>
                                <a data-col="col-sm-4" class="grid-change">3</a>
                            </li>
                            <li>
                                <a data-col="col-sm-2" class="grid-change">6</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
    

            }


            @*@if (Model.AlreadyFilteredItems.Count > 0)
            {
                <div class="filtered-items">
                    <ul>
                        <li class="title">
                            @T("Filtering.SpecificationFilter.CurrentlyFilteredBy")
                        </li>
                        @foreach (var item in Model.AlreadyFilteredItems)
                        {
                            <li class="item">
                                <strong>@(item.SpecificationAttributeName):</strong> @item.SpecificationAttributeOptionName
                            </li>
                        }
                    </ul>
                </div>
                <div class="remove-filter">
                    <a href="@Model.RemoveFilterUrl">@T("Filtering.SpecificationFilter.Remove")</a>
                </div>
            }*@
        @*</div>
    </div>*@
}



