@* Due to share database and development purposes, copied from sav template*@

@model CategoryModel
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;
@{


    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }

    //var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}

@*@if (Model.DisplayCategoryBreadcrumb)
    {
        <div>
            <ol class="breadcrumb">
                <li><a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a></li>
                @foreach (var cat in Model.CategoryBreadcrumb)
                {
                    var isLastCategory = cat.Id == Model.Id;

                    if (isLastCategory)
                    {
                <li class="active">@cat.Name</li>
                    }
                    else
                    {
                <li><a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name">@cat.Name</a></li>
                    }

                }
            </ol>
        </div>
    }*@

@*<div class="product-filters">

    @Html.Partial("_FilterSpecsBox", Model.PagingFilteringContext.SpecificationFilter, new ViewDataDictionary())

</div>*@

@*Filter*@
<div>

    @*Mobile
        <div class="btn-group pull-right hidden-md hidden-lg">
            <button type="button" class="btn btn-three">Filter projects</button>
            <button type="button" class="btn btn-three dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu" id="ulFilterMenu">
                <li class="filter active" data-filter="all"><a>Show All</a></li>
                <li class="filter" data-filter="category_1 category_2 category_3"><a>Brand Creation</a></li>
                <li class="filter" data-filter="category_3 category_5 category_6 category_7 category_8"><a>Interface Design</a></li>
                <li class="filter" data-filter="category_6 category_7 category_8"><a>Web Development</a></li>
                <li class="filter" data-filter="category_3"><a>Online Marketing</a></li>
            </ul>
        </div>*@




    @*<div id="ulSorList1" style="margin:15px 15px;">

            <div class="mix category_1 mix_all" data-cat="1">
                <div class="wp-block inverse">
                    <a class="hov {shiftContent:30}" href="#">
                        <img src="~/content/Images/default-image.png" alt="" class="img-responsive">
                        <div class="caption base">
                            <h2 class="title">This is a great project title</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="mix white mix_all" data-cat="2">
                <div class="wp-block inverse">
                    <a class="hov {shiftContent:30}" href="#">
                        <img src="~/content/Images/default-image.png" alt="" class="img-responsive">
                        <div class="caption base">
                            <h2 class="title">This is a great project title</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="mix Black mix_all" data-cat="3">
                <div class="wp-block inverse">
                    <a class="hov {shiftContent:30}" href="#">
                        <img src="~/content/Images/default-image.png" alt="" class="img-responsive">
                        <div class="caption base">
                            <h2 class="title">This is a great project title</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta
                            </p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="gap"></div>
        </div>*@
</div>

<section class="mt-normal">

    @*<h1>@Model.Name</h1>*@

    @*description*@
    @if (!String.IsNullOrWhiteSpace(Model.Description))
    {
        <div class="category-description">
            @Html.Raw(Model.Description)
        </div>
    }


    @if (Model.Products.Count > 0)
    {

        var pg_i = 0;

        <div class="row">
            <div id="ulSorList">
                @foreach (var product in Model.Products)
                {
                    @*<div class="col-sm-4 col-xs-6 catalog-line">*@

                
                    @Html.Partial("_ProductBox", product)
                


                    @*</div>*@
                    pg_i++;
                }
                <div class="gap"></div>
            </div>
        </div>
    }

</section>

@section scripts
{
    @*<script src="~/Scripts/jquery.contenthover.min.js"></script>*@

    @*<script>

            function toggleColmdClass() {
                var wi = $(window).width();
                if (wi > 1080 && wi < 1440) {
                    $("div.colKlein").removeClass("col-md-3");
                    $("div.colKlein").addClass("col-md-2");
                    $("div.colGroot").removeClass("col-md-6");
                    $("div.colGroot").addClass("col-md-8");
                }
            }

            $(function () {
                toggleColmdClass();
            });

            $(window).resize(function () {
                toggleColmdClass();
            });
        </script>*@

    @*<script src="~/Scripts/mixitup/jquery.mixitup.js"></script>
    <script src="~/Scripts/mixitup/jquery.mixitup.init.js"></script>

    <script>
        $(function () {
            $('#ulSorList').mixitup();

            $(".f-aktief").click(function () {
                var str = $(this).text();
                if (str == "All colors")
                    $("#filter2").html('Color');
                else
                    $("#filter2").html('Color: ' + str);
            });

            $('#dlFilters').change(function () {
                $('#ulSorList').mixitup('filter', this.value);
            });
        });

    </script>*@
}

@section HeaderSection{
    @*<link rel="stylesheet" href="~/Scripts/mixitup/mixitup.css" type="text/css" media="screen" />*@

}