@model CustomerRewardPointsModel
@using Nop.Web.Models.Customer
@using Nop.Web.Models.Order
@{
    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    ViewBag.HideMenu = "true";
    
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.RewardPoints })
}



<section class="col-main mt-normal">
    <h1>@T("Account.RewardPoints")</h1>

    <div class="current-balance">@T("RewardPoints.CurrentBalance", Model.RewardPointsBalance, Model.RewardPointsAmount)</div>
    @if (Model.MinimumRewardPointsBalance > 0)
    {
        <div class="min-balance">@T("RewardPoints.MinimumBalance", Model.MinimumRewardPointsBalance, Model.MinimumRewardPointsAmount)</div>
    }

    <br />
  
        

            @if (Model.RewardPoints.Count > 0)
            {
                <table class="table basic">
                    <colgroup>
                        <col />
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="date" style="padding-left:0;">
                                @T("RewardPoints.Fields.Date")
                            </td>
                            <td class="points">
                                @T("RewardPoints.Fields.Points")
                            </td>
                            <td class="points-balance">
                                @T("RewardPoints.Fields.PointsBalance")
                            </td>
                            <td class="message">
                                @T("RewardPoints.Fields.Message")
                            </td>
                        </tr>
                        
                        @for (int i = 0; i < Model.RewardPoints.Count; i++)
                        {
                            var item = Model.RewardPoints[i];
                            <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                                <td class="date" style="padding-left:0;">
                                    @item.CreatedOn
                                </td>
                                <td class="points">
                                    @item.Points
                                </td>
                                <td class="points-balance">
                                    @item.PointsBalance
                                </td>
                                <td class="message">
                                    @item.Message
                                </td>
                            </tr>
                        }

                    </tbody>
                   
                </table>
            }
            else
            {
                <div class="no-data">
                    @T("RewardPoints.NoHistory")
                </div>
            }

      
</section>