@model CustomerOrderListModel
@{

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    ViewBag.HideMenu = "true";

}
@using Nop.Web.Models.Customer
@using Nop.Web.Models.Order;
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Orders })
}


@section custnavmob{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Orders, isMobile = true })
}


<div class="col-main mt-normal">

    @*<h1>@T("Account.CustomerOrders")</h1>*@

    @if (Model.Orders.Count == 0)
    {
        @T("Account.CustomerOrders.NoOrders")
    }
    else
    {


        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Order history</h3>
            </div>
            <div class="panel-body">




                <div class="table-responsive">
                    <table class="table basic bestelling">
                        <tr>
                            <td style="padding-left:0;">@T("Account.CustomerOrders.OrderDate")</td>
                            <td>@T("Account.CustomerOrders.OrderNumber")</td>

                            <td>@T("Account.CustomerOrders.OrderTotal")</td>
                            @*<td>Payment method</td>*@
                            <td>Tracking no.</td>
                            <td style="text-align:right">@T("Account.CustomerOrders.OrderStatus")</td>
                        </tr>


                        @foreach (var order in Model.Orders)
                        {


                            <tr>
                                <td style="padding-left:0;">
                                    @string.Format("{0:dd MMM yyyy}", order.CreatedOn)

                                </td>
                                <td>
                                    <a href="@Url.RouteUrl("OrderDetails", new { orderId = Html.AttributeEncode(order.Id) })">@order.Id</a>

                                </td>

                                <td>
                                    @order.OrderTotal
                                </td>

                                @*<td>
                                        @order.PaymentMethod
                                    </td>*@
                                <td>
                                    <a href="@order.TrackingUrl" target="_blank" class="alt">@order.TrackingNumber</a>
                                </td>

                                <td style="text-align:right">
                                    @order.BestellingStatus
                                    @if (order.IsReturnRequestAllowed)
                                    {
                                        @:| <a href="@Url.RouteUrl("ReturnRequest", new { orderId = Html.AttributeEncode(order.Id) })">@T("Account.CustomerOrders.ReturnItems")</a>








                                    }
                                </td>

                            </tr>
                        }



                    </table>
                </div>
            </div>
        </div>
    }


</div>