@model ShipmentDetailsModel
@using Nop.Web.Models.Order;
@using Nop.Web.Models.Customer;
@{
    //title
    Html.AddTitleParts(T("PageTitle.ShipmentDetails").Text);
    ViewBag.HideMenu = "true";
}



@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Orders })
}


<section class="col-main mt-normal">
    <h1>@string.Format(T("Order.Shipments.Information").Text, Model.Id)</h1>

    <div class="row">
        <div class="col-sm-6">


            <table class="table basic">
                <thead class="slim">
                    <tr>
                        <th class="no-leftpadding">@T("Order.Shipments.Order#")@Model.Order.Id</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="no-leftpadding">

                            <div class="shipment-details-area">
                                <ul class="list-unstyled">
                                    <li class="shipping-method">
                                        @T("Order.Shipments.ShippingMethod")
                                    </li>
                                    <li>
                                        @Model.Order.ShippingMethod
                                    </li>
                                    <li>&nbsp;</li>
                                    <li>
                                        @T("Order.Shipments.ShippedDate")
                                    </li>
                                    <li class="shipped-date">
                                        @if (Model.ShippedDate.HasValue)
                                        {
                                            @Model.ShippedDate.Value.ToString("D")
                                        }
                                        else
                                        {
                                            @T("Order.Shipments.ShippedDate.NotYet")
                                        }
                                    </li>
                                    <li>&nbsp;</li>
                                    <li>@T("Order.Shipments.DeliveryDate")</li>
                                    <li class="delivery-date">

                                        @if (Model.DeliveryDate.HasValue)
                                        {
                                            @Model.DeliveryDate.Value.ToString("D")
                                        }
                                        else
                                        {
                                            @T("Order.Shipments.DeliveryDate.NotYet")
                                        }
                                    </li>
                                    <li>&nbsp;</li>

                                    @if (!String.IsNullOrEmpty(Model.TrackingNumber))
                                    {
                                        <li>@T("Order.Shipments.TrackingNumber")</li>
                                        <li class="tracking-number">

                                            @if (!string.IsNullOrEmpty(Model.TrackingNumberUrl))
                                            {
                                                <a href="@Model.TrackingNumberUrl" target="_blank" class="tracking-url">@Model.TrackingNumber</a>
                                            }
                                            else
                                            {
                                                @Model.TrackingNumber
                                            }
                                        </li>
                                    }
                                </ul>

                            </div>

                        </td>
                    </tr>
            </table>

        </div>
        <div class="col-sm-6">



            <table class="table basic">
                <thead class="slim">
                    <tr>
                        <th class="no-leftpadding">@T("Order.Shipments.ShippingAddress")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="no-leftpadding">
                            @if (!Model.Order.PickUpInStore)
                            {
                                <ul class="list-unstyled">
                                    <li class="name">
                                        @Model.Order.ShippingAddress.FirstName @Model.Order.ShippingAddress.LastName
                                    </li>


                                    @if (!String.IsNullOrEmpty(Model.Order.ShippingAddress.Company))
                                    {
                                        <li class="company">
                                            @Model.Order.ShippingAddress.Company
                                        </li>
                                    }
                                    <li class="address1">
                                        @Model.Order.ShippingAddress.Address1
                                    </li>
                                    @if (!String.IsNullOrEmpty(Model.Order.ShippingAddress.Address2))
                                    {
                                        <li class="address2">
                                            @Model.Order.ShippingAddress.Address2
                                        </li>
                                    }
                                    <li class="city-state-zip">
                                        @Model.Order.ShippingAddress.City, @Model.Order.ShippingAddress.StateProvinceName
                                        @Model.Order.ShippingAddress.ZipPostalCode
                                    </li>
                                    @if (!String.IsNullOrEmpty(Model.Order.ShippingAddress.CountryName))
                                    {
                                        <li class="country">
                                            @Model.Order.ShippingAddress.CountryName
                                        </li>
                                    }
                                    <li>&nbsp;</li>

                                    <li class="phone">
                                        @T("Order.Shipments.Phone"): @Model.Order.ShippingAddress.PhoneNumber
                                    </li>
                                    @*<li class="fax">
                                            @T("Order.Shipments.Fax"): @Model.Order.ShippingAddress.FaxNumber
                                        </li>*@
                                    <li class="email">
                                        @T("Order.Shipments.Email"): @Model.Order.ShippingAddress.Email
                                    </li>

                                </ul>
                            }
                        </td>

                    </tr>
                </tbody>
            </table>




        </div>
    </div>




    @if (Model.Items.Count > 0)
    {
        <div class="table-responsive">
            <table class="table basic">
                <thead class="slim">
                    <tr>
                        <th class="no-leftpadding">@T("Order.Shipments.Product(s).SKU")</th>
                        <th>Product</th>
                        <th class="quantity">
                            @T("Order.Shipments.Product(s).Quantity")
                        </th>

                    </tr>
                </thead>
                <tbody>


                    @foreach (var item in Model.Items)
                    {
                    <tr>
                        @if (Model.ShowSku)
                            {
                            <td class="no-leftpadding">
                                @item.Sku
                            </td>
                            }
                        <td class="name">
                            <em><a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a></em>
                            @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                {
                                <div class="attributes">
                                    @Html.Raw(item.AttributeInfo)
                                </div>
                                }
                            @if (!String.IsNullOrEmpty(item.RentalInfo))
                                {
                                <div class="rental-info">
                                    @Html.Raw(item.RentalInfo)
                                </div>
                                }
                        </td>
                        <td class="quantity">
                            @item.QuantityShipped
                        </td>
                    </tr>
                    }


                </tbody>

            </table>
        </div>
    }


    @if (Model.ShipmentStatusEvents.Count > 0)
    {

    <br /><br />

    <div class="table-responsive">
        <table class="table basic">
        <caption>@T("Order.ShipmentStatusEvents")</caption>
            <thead class="slim">
                <tr>
                    <th class="no-leftpadding date">
                        @T("Order.ShipmentStatusEvents.Date")
                    </th>
                    <th>@T("Order.ShipmentStatusEvents.Event")</th>
                    <th class="location">
                        @T("Order.ShipmentStatusEvents.Location")
                    </th>
                    <th class="country">
                        @T("Order.ShipmentStatusEvents.Country")
                    </th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShipmentStatusEvents)
                {
                    <tr>
                        <td class="no-leftpadding date">
                            @if (item.Date.HasValue)
                            {
                                @item.Date.Value.ToString("D")
                            }
                        </td>
                        <td class="event">
                            @item.EventName
                        </td>
                        <td class="location">
                            @item.Location
                        </td>
                        <td class="country">
                            @item.Country
                        </td>
                       
                    </tr>
                }
              </tbody></table>
        </div>



         
               }

</section>

