@model ShoppingCartModel
@using Nop.Web.Models.ShoppingCart;

@functions{

    public string FormatSizeAttributeString(string phrase)
    {
        if (!string.IsNullOrWhiteSpace(phrase))
        {
            return (phrase.ToLower().Replace("size:", "")).Trim();
        }

        return "";
    }
}

@if (Model.OrderReviewData.Display)
{
    var m = Model.OrderReviewData;

    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <!--cart -->
          

                <table class="table basic">
                    <thead class="slim">
                        <tr>
                            <th colspan="4" class="no-leftpadding">Product</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="4" style="padding:12px 0 0;">

                                @Html.Action("OrderTotals", "ShoppingCart", new { isEditable = Model.IsEditable })
                                
                            </td>
                        </tr>
                    </tfoot>
                    <tbody class="bline">
                        @if (Model.Items.Count == 0)
                        {
                            <tr>
                                <td>
                                    <h2>@T("ShoppingCart.CartIsEmpty")</h2>
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td class="no-leftpadding">
                                        <div class="product-title">
                                            <span>
                                                @item.ProductName
                                            </span>
                                            @if (!String.IsNullOrEmpty(item.ShortDescription))
                                            {
                                                <span class="short-description"><i>@Html.Raw(item.ShortDescription)</i></span>
                                            }
                                            @if (!String.IsNullOrEmpty(item.RecurringInfo))
                                            {
                                                <span class="recurring-info">
                                                    @Html.Raw(item.RecurringInfo)
                                                </span>
                                            }
                                        </div>
                                    </td>

                                    @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                    {
                                        <td>
                                            @FormatSizeAttributeString(item.AttributeInfo)
                                        </td>

                                    }

                                    <td>
                                        <div class="quantity">
                                            <span>@item.Quantity</span>
                                        </div>
                                    </td>
                                    <td class="no-rightpadding  text-right total">
                                        @item.SubTotal
                                        @if (!String.IsNullOrEmpty(item.Discount))
                                        {
                                            <span class="discount">
                                                @T("ShoppingCart.ItemYouSave"): @item.Discount
                                            </span>
                                        }
                                    </td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>

            <!-- end cart -->


        </div>

        <div class="col-sm-6 col-sm-pull-6">

            <div class="row">
                <div class="col-xs-12">

                    <table class="table basic">
                        <colgroup>
                            <col style="width:60%" />
                            <col style="width:40%" />
                        </colgroup>
                        <thead class="slim">
                            <tr>
                                <th class="no-leftpadding">@T("Order.BillingAddress")</th>
                                <th>
                                    @T("Order.Payment.Method")
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td class="no-leftpadding">
                                    <!--billing -->
                                    <div class="checkout-blox">

                                        <div class="name">
                                            @m.BillingAddress.FirstName @m.BillingAddress.LastName
                                        </div>

                                        @if (m.BillingAddress.CompanyEnabled && !String.IsNullOrEmpty(m.BillingAddress.Company))
                                        {
                                            <div class="company">
                                                @m.BillingAddress.Company
                                            </div>
                                        }
                                        @if (m.BillingAddress.StreetAddressEnabled)
                                        {
                                            <div class="address1">
                                                @m.BillingAddress.Address1
                                            </div>
                                        }
                                        @if (m.BillingAddress.StreetAddress2Enabled && !String.IsNullOrEmpty(m.BillingAddress.Address2))
                                        {
                                            <div class="address2">
                                                @m.BillingAddress.Address2
                                            </div>
                                        }

                                        @if (m.BillingAddress.CityEnabled || m.BillingAddress.StateProvinceEnabled || m.BillingAddress.ZipPostalCodeEnabled)
                                        {
                                            <div class="city-state-zip">
                                                @if (m.BillingAddress.CityEnabled)
                                                {
                                                    @m.BillingAddress.City
                                                }
                                                @if (m.BillingAddress.CityEnabled && (m.BillingAddress.StateProvinceEnabled || m.BillingAddress.ZipPostalCodeEnabled))
                                                {
                                                    <text>,</text>
                                                }
                                                @if (m.BillingAddress.StateProvinceEnabled)
                                                {
                                                    @m.BillingAddress.StateProvinceName
                                                }
                                                @if (m.BillingAddress.ZipPostalCodeEnabled)
                                                {
                                                    @m.BillingAddress.ZipPostalCode
                                                }
                                            </div>
                                        }
                                        @if (m.BillingAddress.CountryEnabled && !String.IsNullOrEmpty(m.BillingAddress.CountryName))
                                        {
                                            <div class="country">
                                                @m.BillingAddress.CountryName
                                            </div>
                                        }

                                        @*@if (m.BillingAddress.PhoneEnabled)
                                        {
                                            <div class="phone">
                                                @T("Order.Phone"): @m.BillingAddress.PhoneNumber
                                            </div>
                                        }
                                        @if (m.BillingAddress.FaxEnabled)
                                        {
                                            <div class="fax">
                                                @T("Order.Fax"): @m.BillingAddress.FaxNumber
                                            </div>
                                        }
                                        <div class="">
                                            @T("Order.Email"): @m.BillingAddress.Email
                                        </div>*@



                                    </div>
                                    <!--end billing-->
                                </td>

                                <td>
                                    <!--payment method-->
                                    @if (!String.IsNullOrEmpty(m.PaymentMethod))
                                    {
                                        <div class="checkout-blox">
                                            <p>
                                                @m.PaymentMethod
                                            </p>
                                        </div>

                                    }
                                    <!--end payment method-->
                                </td>

                            </tr>
                        </tbody>

                    </table>

                </div>
                <div class="col-xs-12">
                    <br />
                    <table class="table basic">
                        <colgroup>
                            <col style="width:60%" />
                            <col style="width:40%" />
                        </colgroup>
                        <thead class="slim">
                            <tr>
                                <th class="no-leftpadding">@T("Order.ShippingAddress")</th>
                                <th>
                                    @T("Order.Shipping.Name")
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td class="no-leftpadding">
                                    <!-- shipping -->
                                    <div class="checkout-blox">
                                        <div class="name">
                                            @m.ShippingAddress.FirstName @m.ShippingAddress.LastName
                                        </div>

                                        @if (m.ShippingAddress.CompanyEnabled && !String.IsNullOrEmpty(m.ShippingAddress.Company))
                                        {
                                            <div class="company">
                                                @m.ShippingAddress.Company
                                            </div>
                                        }
                                        @if (m.ShippingAddress.StreetAddressEnabled)
                                        {
                                            <div class="address1">
                                                @m.ShippingAddress.Address1
                                            </div>
                                        }
                                        @if (m.ShippingAddress.StreetAddress2Enabled && !String.IsNullOrEmpty(m.ShippingAddress.Address2))
                                        {
                                            <div class="address2">
                                                @m.ShippingAddress.Address2
                                            </div>
                                        }
                                        @if (m.ShippingAddress.CityEnabled || m.ShippingAddress.StateProvinceEnabled || m.ShippingAddress.ZipPostalCodeEnabled)
                                        {
                                            <div class="city-state-zip">
                                                @if (m.ShippingAddress.CityEnabled)
                                                {
                                                    @m.ShippingAddress.City
                                                }
                                                @if (m.ShippingAddress.CityEnabled && (m.ShippingAddress.StateProvinceEnabled || m.ShippingAddress.ZipPostalCodeEnabled))
                                                {
                                                    <text>,</text>
                                                }
                                                @if (m.ShippingAddress.StateProvinceEnabled)
                                                {
                                                    @m.ShippingAddress.StateProvinceName
                                                }
                                                @if (m.ShippingAddress.ZipPostalCodeEnabled)
                                                {
                                                    @m.ShippingAddress.ZipPostalCode
                                                }
                                            </div>
                                        }

                                        @if (m.ShippingAddress.CountryEnabled && !String.IsNullOrEmpty(m.ShippingAddress.CountryName))
                                        {
                                            <div class="country">
                                                @m.ShippingAddress.CountryName
                                            </div>
                                        }

                                        @*<div class="">
                                            @T("Order.Email"): @m.ShippingAddress.Email
                                        </div>
                                        @if (m.ShippingAddress.PhoneEnabled)
                                        {
                                            <div class="phone">
                                                @T("Order.Phone"): @m.ShippingAddress.PhoneNumber
                                            </div>
                                        }
                                        @if (m.ShippingAddress.FaxEnabled)
                                        {
                                            <div class="fax">
                                                @T("Order.Fax"): @m.ShippingAddress.FaxNumber
                                            </div>
                                        }*@

                                    </div>
                                    <!-- end shipping -->
                                </td>
                                <td>
                                    <!-- shipping method -->
                                    @if (m.IsShippable)
                                    {
                                        <div class="checkout-blox">
                                            <p>
                                                @m.ShippingMethod
                                            </p>
                                        </div>
                                    }

                                </td>

                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

}


