@model ProductDetailsModel.AddToCartModel
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Orders;

<div class="add2cart">
    @if (Model.UpdatedShoppingCartItemId > 0)
    {
        @Html.HiddenFor(x => x.UpdatedShoppingCartItemId)
    }

    @if (!Model.DisableBuyButton || !Model.DisableWishlistButton)
    {
        <div class="add-to-cart-panel">
            @*<div class="col-md-2">
                    @Html.LabelFor(model => model.EnteredQuantity, new { @class = "qty-label" }, ":")
                    <label for="giftcard_1_Message">Quantity:</label>
                </div>*@

                @if (Model.AllowedQuantities.Count > 0)
                {
                    @Html.HiddenFor(model => model.EnteredQuantity)

                    @*<div class="col-md-4">
                            @Html.DropDownListFor(model => model.EnteredQuantity, Model.AllowedQuantities, new { @class = "qty-dropdown form-control" })
                        </div>*@
                }
                else
                {
                    <br/>
                    <div class="attributes__label">Quantity</div>
                    <div class="select-quantity">
                        <div class="d-flex">
                            <input id="sub" type='button' value='-' class='sub quantity-btn qtyminus' field='EnteredQuantity' />
                            @Html.TextBoxFor(model => model.EnteredQuantity, new { @class = "qty", id = "EnteredQuantity", type = "number" })
                            <input id="add" type='button' value='+' class='add quantity-btn qtyplus' field='EnteredQuantity' />
                        </div>
                    </div>


                    @*<div class="col-md-4">
                        @Html.TextBoxFor(model => model.EnteredQuantity, new { @class = "qty-input form-control" })
                    </div>*@


                            //when a customer clicks 'Enter' button we submit the "add to cart" button (if visible)
                            if (!Model.DisableBuyButton)
                            {

                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $("#@Html.FieldIdFor(model => model.EnteredQuantity)").keydown(function (event) {
                                            if (event.keyCode == 13) {
                                                $("#add-to-cart-button-@Model.ProductId").click();
                                                return false;
                                            }
                                        });
                                    });
                                </script>
                            }

                }

                @if (!Model.DisableBuyButton)
                {

                    var addToCartText = "";
                    if (Model.UpdatedShoppingCartItemId > 0)
                    {
                        addToCartText = T("ShoppingCart.AddToCart.Update").Text;
                    }
                    else
                    {
                        addToCartText = Model.AvailableForPreOrder ? T("ShoppingCart.PreOrder").Text : T("ShoppingCart.AddToCart").Text;
                    }
                   
                        <button type="button" id="add-to-cart-button-@Model.ProductId"  class="btn btn-default  btn-add2cart" data-productid="@Model.ProductId"
                                onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.ProductId, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart })', '#product-details-form');return false;">@addToCartText</button>
                }
            


            @*Wishlist*@
            @*@if (!Model.DisableWishlistButton && Model.UpdatedShoppingCartItemId == 0)
            {
                <div class="form-group row">
                    <div class="col-md-12">
                        <button type="button" id="add-to-wishlist-button-@Model.ProductId" class="btn btn-default add-to-wishlist-button " data-productid="@Model.ProductId" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.ProductId, shoppingCartTypeId = (int)ShoppingCartType.Wishlist })', '#product-details-form');return false;"><i class="fa fa-heart fa-fw"></i> @T("ShoppingCart.AddToWishlist") </button>
                    </div>
                </div>
            }*@
        </div>
    }

    <div id="add2cart-notification" title="@T("Common.Notification")" style="display:none;"></div>
</div>
