@model ProductDetailsModel
@using Nop.Core.Domain.Media
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@{
    //Html.AddScriptParts("~/Scripts/jquery.magnific-popup.js");
    Html.AddCssFileParts("~/Content/magnific-popup/magnific-popup.css");

    //int productPerRow = EngineContext.Current.Resolve<MediaSettings>().ProductThumbPerRowOnProductDetailsPage;
}


<div style="max-width:90%; margin:0 auto 0; text-align:center;">
        @*@if (Model.DefaultPictureZoomEnabled)
            {
                <li>
                    <a href="@Model.DefaultPictureModel.FullSizeImageUrl" title="@Model.Name" id="main-product-img-lightbox-anchor-@Model.Id">
                        <img class="img-responsive" alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" />
                    </a>
                </li>

            }
            else
            {
                <li>
                    <img class="img-responsive" alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" />
                </li>
            }*@

  @if (Model.PictureModels.Count > 0)
  {
    <ul class="list-unstyled hidden-xs text-center">
        @foreach (var p in Model.PictureModels)
        {
            <li class="prod-image zoom-link">
                <a class="thumb-popup-link" href="@p.FullSizeImageUrl" title="@p.Title">
                    <img class="img-responsive center-block" src="@p.FullSizeImageUrl" alt="@p.AlternateText" title="@p.Title" />
                </a>
            </li>
        }
    </ul>
  }
    <script type="text/javascript">
    $(document).ready(function () {
        $('.thumb-popup-link').magnificPopup(
        {
            type: 'image',
            removalDelay: 300,
            gallery: {
                enabled: true,
                tPrev: 'Previous',
                tNext: 'Next',
                tCounter: '@T("Media.MagnificPopup.Counter")',
                arrowMarkup: '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%">%title%</button>', // markup of an arrow button
            },
            tClose: '@T("Media.MagnificPopup.Close")',
            tLoading: '@T("Media.MagnificPopup.Loading")',
            image: {
                verticalFit: false
            }

        });
    });
    </script>





    <!--end images-->

</div>

@*Mobile View*@
<div id="carouselImg" class="visible-xs carousel slide">

    <!-- Carousel items -->
    <div class="carousel-inner">

        @{ int counter = 1;

         foreach (var p in Model.PictureModels)
         {
             if (counter == 1)
             {
                <div class="item active">
                    <img class="img-responsive" src="@p.FullSizeImageUrl" alt="@p.AlternateText" title="@p.Title" />
                </div>
             }
             else
             {
                <div class="item">
                    <img class="img-responsive" src="@p.FullSizeImageUrl" alt="@p.AlternateText" title="@p.Title" />
                </div>
             }

             counter++;
         }
        }
    </div>

    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carouselImg" data-slide="prev"><i class="fa fa-angle-left fa-lg"></i></a>
    <a class="carousel-control right" href="#carouselImg" data-slide="next"><i class="fa fa-angle-right fa-lg"></i></a>
</div>





