@model IList<ProductDetailsModel.TierPriceModel>
@using Nop.Web.Models.Catalog;
@{
    //When there is just one tier (with  qty 1), there are no actual savings in the list.
    var displayTierPrices = Model.Count > 0 && !(Model.Count == 1 && Model[0].Quantity <= 1);
}
@if (displayTierPrices)
{

    <div class="tier-prices">
        <div class="table-wrapper">
            <table class="table prices-table">
                <tr>
                    <td class="field-header">
                        @T("Products.TierPrices.Quantity")
                    </td>
                    @foreach (var tierPrice in Model)
                    {
                        <td class="item-quantity">
                            @(tierPrice.Quantity)+
                        </td>
                    }
                </tr>
                <tr>
                    <td class="field-header">
                        @T("Products.TierPrices.Price")
                    </td>
                    @foreach (var tierPrice in Model)
                    {
                        <td class="item-price">
                            @tierPrice.Price
                        </td>
                    }
                </tr>
            </table>
        </div>
    </div>



    @*<div class="tier-prices">
        <div class="title">
            <strong>@T("Products.TierPrices")</strong>
        </div>
        <div class="table-wrapper">
            <table class="prices-table">
                <tr>
                    <td class="field-header">
                        @T("Products.TierPrices.Quantity")
                    </td>
                    @foreach (var tierPrice in Model)
                    {
                        <td class="item-quantity">
                            @(tierPrice.Quantity)+
                        </td>
                    }
                </tr>
                <tr>
                    <td class="field-header">
                        @T("Products.TierPrices.Price")
                    </td>
                    @foreach (var tierPrice in Model)
                    {
                        <td class="item-price">
                            @tierPrice.Price
                        </td>
                    }
                </tr>
            </table>
        </div>
    </div>*@

    @*<div class="">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
            <li><a data-toggle="pill" href="#menu1">Menu 1</a></li>
            <li><a data-toggle="pill" href="#menu2">Menu 2</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>HOME</h3>
                <p>Some content.</p>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>Menu 1</h3>
                <p>Some content in menu 1.</p>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Some content in menu 2.</p>
            </div>
        </div>
    </div>*@


}