@model ProductDetailsModel
@using Nop.Core
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Services.Localization;
@using Nop.Web.Models.Catalog;
@{

    Layout = "~/Views/Shared/_LayoutOne.cshtml";

    //title, meta
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {

        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {

        var storeName = EngineContext.Current.Resolve<Nop.Core.IStoreContext>().CurrentStore.GetLocalized(x => x.Name);

        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(storeName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(storeName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }


}


<section class="container-fluid cf-padding mt-large">

    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">

            <div id="divPanelImages">
                @Html.Partial("_ProductDetailsPictures", Model)
            </div>
          
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">

            <div class="right-col-fix">
                <div class="prod-details">
                    <h1 class="text-left margin-less">@Model.Name</h1>

                    <!-- details -->
                    @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
                    {
                        <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
                            <div class="product-overview">
                                @{
                                    if (!String.IsNullOrEmpty(Model.ShortDescription))
                                    {
                                        <div class="short-description">
                                            @Html.Raw(Model.ShortDescription)
                                        </div>
                                    }

                                    @*<br /><span>Description</span><br />*@
                                    <br />
                                    @Html.Raw(Model.FullDescription)
                                    @*@Html.Partial("_SKU_Man_Stock", Model)*@



                                    <div class="harga">


                                    </div>

                                    var dataDictPrice = new ViewDataDictionary();
                                    dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
                                    @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)
                                    @*@Html.Partial("_ProductTierPrices", Model.TierPrices)*@

                                }

                                <!-- tabs -->
                                <!-- Related products -->
                                @*<ul class="nav nav-pills nav-stacked nav-prod-tab">
                                        <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                                        @if (!String.IsNullOrEmpty(@Html.Partial("_ProductSpecifications", Model.ProductSpecifications).ToString()))
                                        {
                                            <li><a href="#specification" data-toggle="tab">Specifications</a></li>
                                        }
                                        <li><a href="#shipping" data-toggle="tab">Shipping</a></li>
                                        <li><a href="#exchanges" data-toggle="tab">Returns &amp; Exchanges</a></li>
                                        <li><a href="#shareThis" data-toggle="tab">Share</a></li>


                                    </ul>

                                    <div class="tab-content">

                                        <div class="full-description tab-pane active" id="description" itemprop="description">
                                            @Html.Raw(Model.FullDescription)

                                            <!--product SKU, manufacturer part number, stock info-->
                                            @Html.Partial("_SKU_Man_Stock", Model)

                                            <!--product manufacturers-->
                                            @Html.Partial("_ProductManufacturers", Model.ProductManufacturers)
                                        </div>
                                        <div class="full-description tab-pane" id="shipping">

                                            Orders will be shipped based on our shipping schedule.
                                            Please click here to view.
                                            Free shipping to:<br />
                                            1. Jakarta : all orders<br />
                                            2. Other cities in Indonesia: orders above 450000 IDR<br />
                                            3. Singapore: orders above 450000 IDR
                                        </div>

                                        <div class="full-description tab-pane" id="exchanges">
                                            @T("ProductDetails.Exchanges")
                                        </div>


                                        <div class="full-description tab-pane" id="specification">
                                            @Html.Partial("_ProductSpecifications", Model.ProductSpecifications)
                                        </div>

                                        <!-- share -->
                                        <div class="full-description tab-pane" id="shareThis">
                                            @Html.Partial("_ShareButton", Model)

                                            @if (!String.IsNullOrEmpty(@Html.Partial("_ProductTags", Model.ProductTags).ToString()))
                                            {
                                                @Html.Partial("_ProductTags", Model.ProductTags)
                                            }
                                        </div>

                                    </div>
                                *@

                                @*desc*@
                                @*<div class="prod-details-mobile accordion" id="accordion">
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#shipping" class="accordion-toggle">Shipping</a>
                                            </div>
                                            <div id="shipping" class="panel-collapse collapse">
                                                <div class="accordion-inner">
                                                    Orders will be shipped based on our shipping schedule.<br />
                                                    Please click  <a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("help") } )" class="alt">here</a>  to view.
                                                    <br /><br />
                                                    <ul class="lst-typeA">
                                                        <li>
                                                            JNE regular (delivery within 3-5 business days)
                                                        </li>
                                                        <li>
                                                            JNE express (delivery within 1-2 business days)<br />
                                                        </li>
                                                    </ul>


                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#exchanges" class="accordion-toggle">Returns &amp; Exchanges</a>
                                            </div>
                                            <div id="exchanges" class="panel-collapse collapse">
                                                <div class="accordion-inner">
                                                    <ul class="lst-typeA"><li>You have 2 weeks from the date the product was sent</li><li>The items have to be in perfect condition and internal labels must be intact</li><li>Returns & Exchanges are only for size exchange and manufactory fault.</li></ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#shareThis" class="accordion-toggle">Share</a>
                                            </div>
                                            <div id="shareThis" class="panel-collapse collapse">
                                                <div class="accordion-inner">
                                                    @Html.Partial("_ShareButton", Model)


                                                    @if (!String.IsNullOrEmpty(@Html.Partial("_ProductTags", Model.ProductTags).ToString()))
                                                    {
                                                        @Html.Partial("_ProductTags", Model.ProductTags)
                                                    }

                                                </div>
                                            </div>
                                        </div>


                                    </div>*@
                                @*End mobile desc*@



                                @{
                                    //Attributes
                                    var dataDictAttributes = new ViewDataDictionary();
                                    dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                                    @Html.Partial("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)
                             
                                    //Cart
                                    var dataDictAddToCart = new ViewDataDictionary();
                                    dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                    @Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)
                                }


                                @*<div class="sizeguide"><a href="/assets/measurement-guide.jpg" class="fancybox">@T("ProductDetails.SizeGuide")size guide</a></div>*@

                                <!--Back in stock subscription-->
                                @Html.Partial("_BackInStockSubscription", Model)
                            </div>

                            @*@Html.Widget("productdetails_before_collateral")*@

                        </div>

                    }


                </div>
                <!-- end details -->


            </div>

            @*<div class="row">
                    <div class="col-sm-12 hidden-sm hidden-xs">
                        <div class="product-collateral">

                            @Html.Action("ProductsAlsoPurchased", "Product", new { productId = Model.Id })
                            @Html.Action("RelatedProducts", "Product", new { productId = Model.Id })
                        </div>
                    </div>
                </div>*@

        </div>

    </div>

</section>




@section scripts
{
    <script type="text/javascript">
        $(function () {

            $(".fancyboxPage").fancybox({
                'href': '@Url.RouteUrl("BackInStockSubscribePopup", new { productId = Model.Id })',
                'speedIn': 600,
                'speedOut': 200,
                'autoWidth': true,
                'type': 'iframe',
                'autoCenter': true,
                'centerOnScroll': true
            });

            $(".fancybox").fancybox();

        });


        //$('#accordion').on('shown.bs.collapse', function () {
        //    $(".accordion-toggle").removeClass("ic-plus").addClass("ic-min");
        //});

        //$('#accordion').on('hidden.bs.collapse', function () {
        //    $(".accordion-toggle").removeClass("ic-plus").addClass("ic-min");
        //});


        $('#accordion').on('show.bs.collapse', function () {
            $('#accordion .in').collapse('hide');
        });


        //if ($(".ddlAttrb").length) {
        //    $(".btn-add2cart").css("width", "100%");
        //}

        $('.add').click(function () {
            if ($(this).prev().val() < 9) {
                $(this).prev().val(+$(this).prev().val() + 1);
            }
        });
        $('.sub').click(function () {
            if ($(this).next().val() > 1) {
                if ($(this).next().val() > 1) $(this).next().val(+$(this).next().val() - 1);
            }
        });


    </script>



    @*Image zoom*@
    <script type="text/javascript" src="~/Scripts/jquery.magnific-popup.js"></script>





    <!-- -->
    <script src="~/Scripts/app/waypoints/noframework.waypoints.min.js"></script>
    <script>
        $(document).ready(function () {

            //$(window).resize(function (e) {
            //    console.log(e);
            //});
            //$(window).scroll(function (event) {
            //    var sc = $(window).scrollTop();
            //    console.log(sc);
            //});


            var waypoint = new Waypoint({
                element: document.getElementById('divtarget'),
                handler: function (direction) {
                    alert(this.element.id + ' triggers at ' + this.triggerPoint);
                }
                //,context: document.getElementById('target')

                ,offset: 'bottom-in-view'
            })

        });

        //$('#body-wrapper').waypoint(function () {
        //    console.log('x');
        //} , { offset: '50%' });



    </script>


    <script>
        $(document).ready(function () {

            //$('#body-content').scroll(function () {

            //    alert('x');

            //    console.log('scroll happened');

            //    var idnewsletter = $('#flag').val();
            //    if (idnewsletter == 0) {
            //        var y = $(this).scrollTop();
            //        if (y > $('body').height() / 2) {
            //            alert('x');
            //            $('#sidebar-fixed').fadeIn();
            //        } else {
            //            alert('y');
            //            $('#sidebar-fixed').fadeOut();
            //        }
            //    }
            //});
        });

                    //$(document).ready(function () {
                    //    $(window).on('scroll', '.ag-body-container', function () {
                    //        console.log('scroll happened');
                    //    });
                    //});



                    //let last_known_scroll_position = 0;
                    //let ticking = false;

                    //function doSomething(scroll_pos) {
                    //    // Do something with the scroll position
                    //    Console.log(scroll_pos);
                    //}

                    //window.addEventListener('scroll', function (e) {
                    //    last_known_scroll_position = window.scrollY;

                    //    if (!ticking) {
                    //        window.requestAnimationFrame(function () {
                    //            doSomething(last_known_scroll_position);
                    //            ticking = false;
                    //        });

                    //        ticking = true;
                    //    }

                    //    console.log('x');
                    //});


    </script>
    <!-- -->

}

@section HeaderSection
{


    @*Zoom css*@
    <link rel="stylesheet" href="~/Content/magnific-popup/magnific-popup.css" type="text/css" media="screen" />



    <style>
        #divPanelImages {
            width: 100%;
            /*height: 80vh;*/
            height:100%;
            max-height:1736px;
            margin-top:40px;
            overflow-y: scroll; 
        }

            /* Hide scrollbar for Chrome, Safari and Opera */
        #divPanelImages::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        #divPanelImages {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    </style>

}