@model CustomerReturnRequestsModel
@using Nop.Web.Models.Customer
@using Nop.Web.Models.Order
@{

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    ViewBag.HideMenu = "true";
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ReturnRequests })
}




<section class="col-main mt-normal">
    <h1>@T("Account.CustomerReturnRequests")</h1>

    <div class="row">
@foreach (var item in Model.Items)
{
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>@string.Format(T("Account.CustomerReturnRequests.Title").Text, item.Id, item.ReturnRequestStatus)</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>
                            <label>@T("Account.CustomerReturnRequests.Date")</label>
                        </li>
                        <li class="date">
                            <span>@item.CreatedOn.ToString("dd MMM yyyy hh:mm")</span>
                        </li>
                        <li>&nbsp;</li>
                        <li>@*<label>@T("Account.CustomerReturnRequests.Item")</label>*@</li>
                        <li class="product">
                           
                            <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a>
                            <span>x @item.Quantity</span>
                        </li>

                        <li>&nbsp;</li>
                        <li><label>@T("Account.CustomerReturnRequests.Reason")</label></li>
                        <li class="reason">
                            <span>@item.ReturnReason</span>
                        </li>
                        <li>&nbsp;</li>
                        @*<li><label>@T("Account.CustomerReturnRequests.Action")</label></li>
                        <li class="action">
                            <span>@item.ReturnAction</span>
                        </li>*@
                       
                        @if (!String.IsNullOrEmpty(item.Comments))
                        {
                            <li><label>@T("Account.CustomerReturnRequests.Comments")</label></li>
                            <li class="comments">
                                <div>@Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(item.Comments, false, true, false, false, false, false))</div>
                            </li>
                        }
                    </ul>
                </div>
            </div>


        </div>
        }

    </div>
</section>


  