@model HeaderLinksModel
@using Nop.Web.Models.Common;
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes

@{

    //logo path
    var currentThemeName = "v1"; //EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logo = "~/Themes/" + currentThemeName + "/Content/images/logo.png";

    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);

    //current category ID
    int currentCategoryId = 0;
    //if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
    //    Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    //{
    //   currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    //}

    if(Url.RequestContext.RouteData.Values["categoryId"] != null)
    {
        currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    }


    //current product ID
    int currentProductId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("productdetails", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
    }

    var press = "inactive";
    var common = "inactive";
    var topic = "";
    var controllername = Url.RequestContext.RouteData.Values["controller"].ToString();
    if (controllername.Equals("press", StringComparison.OrdinalIgnoreCase))
    {
        press = "active";
    }
    else if (controllername.Equals("common", StringComparison.OrdinalIgnoreCase))
    {
        common = "active";
    }
    else if (controllername.Equals("topic", StringComparison.OrdinalIgnoreCase))
    {
        var url = Request.RawUrl;
        var seoname = url.Substring(url.LastIndexOf("/") + 1);
        if (seoname != "")
        {
            topic = seoname;
        }
    }
}




@*desktop navbar*@
<div class="container fixed-top" style="margin-top:50px;">
    <div class="row" style="height:100px;">
        <div class="col-4 menu-left">
            <ul class="list-unstyled list-inline"><li><a href="~/new-arrivals" class="nav-item">New Arrivals</a></li></ul>
            @Html.Action("CategoryNavigation", "Catalog", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId, isSidebar = false })
            <ul class="list-unstyled list-inline">
                <li class="mt-3"> <a href="~/sale" class="nav-item">Sale</a></li>
                @if (Model.IsAuthenticated)
                {
                    <li class="mt-3">
                        <div class="">
                            <a href="#" class="nav-item" data-toggle="collapse" data-target="#collapse-nav" aria-expanded="false" aria-controls="collapse-nav">My Account</a>
                            <div class="collapse" id="collapse-nav">
                                <div class="d-flex flex-column">
                                    <a href="~/order/ConfirmPayments">Confirm Payment</a>
                                    <a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a>
                                    <a href="@Url.RouteUrl("CustomerInfo")">Personal Info</a>
                                    <a href="@Url.RouteUrl("CustomerChangePassword")">Change Password</a>
                                    <a href="~/customer/addressAdd">Address Book</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="@Url.RouteUrl("Logout")"><i class="fa fa-unlock-alt" aria-hidden="true"></i> LOGOUT</a>
                    </li>
                }
                else
                {
                    <li class="mt-3"> <a href="~/login" class="nav-item signin btn-login">Sign In / Signup</a></li>
                }

            </ul>
        </div>
        <div class="col-4 text-center" style="height:100px;">
            <a href="~/"><img class="img-fluid brandImage" src="~/Themes/v1/Content/images/logo.png" srcset="~/Themes/v1/Content/images/logo@2x.png 2x, ~/Themes/v1/Content/images/logo@2x.png 3x" /></a>
        </div>
        <div class="col-4 menu-right justify-content-end d-flex">
            <div>
                @*<form action="~/search" autocomplete="on">
                    <input id="search_submit" value="Rechercher" type="submit"><input class="search-nav mb-5" id="search" name="q" type="text" placeholder="search">
                </form>*@

                @*<li> <a href="#" class="" onclick="openSearch()">Search</a></li>*@

                @*<input id="search_submit" value="Rechercher" type="button">*@
                <div id="search_submit"></div>

            </div>
            <div>

                @if (Model.ShoppingCartEnabled)
                {
                    var cartItem = "";
                    var cssCartItem = "bag-empty";
                    if (Model.ShoppingCartItems > 0)
                    {
                        cartItem = string.Format("{0}", Model.ShoppingCartItems);
                        cssCartItem = "bag";
                    }
                    <a href="#bag" onclick="$('.aside').asidebar('open')"><div id="icbag-panel" class="@cssCartItem align-items-center"><span id="mCartItemsQty" class="xans-element-xans-layout xans-layout-orderbasketcount cart-qty">@*<img src="~/Themes/v1/Content/images/bag.png" style="margin-top: -7px;width:24px;" />*@ <span style="font-size:14px;margin-left:-8px;">@cartItem</span></span></div></a>
                    <div class="aside">
                        <div class="aside-header"><span class="close" data-dismiss="aside" aria-hidden="true">&times;</span></div>
                        <div class="aside-contents">
                            <div id="bag">@Html.Action("FlyoutShoppingCart", "ShoppingCart")</div>
                        </div>
                    </div>
                    <div class="aside-backdrop"></div>
                }
            </div>
        </div>
    </div>

</div>



@*mobile navbar*@
@*<div class="d-block d-md-none">
    <nav class="navbar navbar-expand-md sidebarNavigation fixed-top" data-sidebarClass="navbar-dark" style="background-color:transparent; ">
        <div class="p-3 text-center" style="width:100%;">
            <div class="d-flex justify-content-between col-sm-12">
                <div class="" style="margin-top:-8px;">
                    <button class="navbar-togglers leftNavbarToggler btn-toggle" type="button" data-target="#navbarsExampleDefault"
                            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="hamburger">
                            <div class="top-bun"></div>
                            <div class="meat"></div>
                            <div class="bottom-bun"></div>
                        </div>
                    </button>
                </div>
                <div class=""><a class="navbar-brand" href="~/"><img class="img-fluid brandImage" style="max-width:90px;" src="~/Themes/v1/Content/images/logo.png" srcset="~/Themes/v1/Content/images/logo@2x.png 2x, ~/Themes/v1/Content/images/logo@2x.png 3x" /></a></div>
                <div class="">
                    <div class="mini-menu pull-right">
                        @if (Model.ShoppingCartEnabled)
                        {
                            var cartItem = "";
                            var cssCartItem = "bag-empty";
                            if (Model.ShoppingCartItems > 0)
                            {
                                cartItem = string.Format("{0}", Model.ShoppingCartItems);
                                cssCartItem = "bag";
                            }
                            <a href="#bag" onclick="$('.aside').asidebar('open')"><div id="icbag-panel" class="@cssCartItem align-items-center"><span id="mCartItemsQty" class="xans-element-xans-layout xans-layout-orderbasketcount cart-qty"><span style="margin-left:-8px;">@cartItem</span></span></div></a>
                            <div class="aside">
                                <div class="aside-header"><span class="close" data-dismiss="aside" aria-hidden="true">&times;</span></div>
                                <div class="aside-contents">
                                    <div id="bag">@Html.Action("FlyoutShoppingCart", "ShoppingCart")</div>
                                </div>
                            </div>
                            <div class="aside-backdrop"></div>
                        }
                    </div>


            </div>
            <div class="navbar-collapse" id="navbarsExampleDefault" style="text-transform:uppercase;">
                <div class="mb-4">
                    <a class="navbar-brand" href="~/"><img class="img-responsive store-logo" style="max-width:89.33px;" src="~/Themes/v1/Content/images/logo.png" /></a>
                </div>
                @Html.Action("CategoryNavigation", "Catalog", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId, isSidebar = false })
                <ul class="list-unstyled list-inline">
                    <li> <a href="~/sale" class="signin" style="font-size:12px;">Sale</a></li>
                   
                    @if (Model.IsAuthenticated)
                    {
                        <li class="dropdown dropright-list">
                            <a href="#" class="dropbtn" style="font-size:12px;" data-toggle="collapse" data-target="#collapse-nav2" aria-expanded="false" aria-controls="collapse-nav2">My Account</a>
                            <div class="collapse" id="collapse-nav2" style="font-size:12px;">
                                <a href="~/order/ConfirmPayments">Confirm Payment</a>
                                <a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a>
                                <a href="@Url.RouteUrl("CustomerInfo")">Personal Info</a>
                                <a href="@Url.RouteUrl("CustomerChangePassword")">Change Password</a>
                                <a href="~/customer/addressAdd">Address Book</a>
                                <a href="@Url.RouteUrl("Logout")"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Logout</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li><a href="~/login" class="nav-item signin btn-login" style="font-size:12px;">Sign In/ Sign Up</a></li>
                    }

                </ul>
            </div>
        </div>
    </nav>
</div>*@



<div class="overlay2" id="myOverlay">
    <span class="closebtn" onclick="closeSearch()" title="Close">×</span>
    <div class="overlay-content">
        <form action="~/search" autocomplete="on">
            <input id="search_submit"  type="submit"><input class="search-nav mb-5" id="search" name="q" type="text" placeholder="Search here...">
        </form>
    </div>
</div>


<script>
    window.onload = function () { if (window.jQuery) { $(document).ready(function () { $(".sidebarNavigation .navbar-collapse").hide().clone().appendTo("body").removeAttr("class").addClass("sideMenu").show(); $("body").append("<div class='overlay'></div>"); $(".navbar-toggle, .navbar-togglers").on("click", function () { $(".sideMenu").addClass($(".sidebarNavigation").attr("data-sidebarClass")); $(".sideMenu, .overlay").toggleClass("open"); $(".overlay").on("click", function () { $(this).removeClass("open"); $(".sideMenu").removeClass("open") }) }); $("body").on("click", ".sideMenu.open .nav-item", function () { if (!$(this).hasClass("dropdown")) { $(".sideMenu, .overlay").toggleClass("open") } }); $(window).resize(function () { if ($(".navbar-toggler").is(":block")) { $(".sideMenu, .overlay").hide() } else { $(".sideMenu, .overlay").show() } }) }) } else { console.log("sidebarNavigation Requires jQuery") } }

    $(document).on('click', '.dropdown', function (e) {
        e.stopPropagation();
        $('.dropdown').not($(this)).removeClass('active');
        $(this).toggleClass('active');
    });

    $(document).on('click', function () {
        $('.dropdown').removeClass('active');
    });

    $(document).on('click', '.dropdown-content', function (e) {
        e.stopPropagation();
    })

</script>

@if (Model.ShoppingCartEnabled)
{
    <script type="text/javascript">
        $(document).ready(function () {

            if (
                $('.toggle > input').is(':checked') &&
                !$(event.target).parents('.toggle').is('.toggle')
            ) {
                $('.toggle > input').prop('checked', false);
            }


            $('.li-header-mini-cart').on('mouseenter', '#topcartlink', function () {
                $('#flyout-cart').addClass('active');
            });
            $('.li-header-mini-cart').on('mouseleave', '#topcartlink', function () {
                $('#flyout-cart').removeClass('active');
            });
            $('.li-header-mini-cart').on('mouseenter', '#flyout-cart', function () {
                $('#flyout-cart').addClass('active');
            });
            $('.li-header-mini-cart').on('mouseleave', '#flyout-cart', function () {
                $('#flyout-cart').removeClass('active');
            });


            $('#search_submit').click(function (e) {
                $('#myOverlay').attr("style", "display: block;");
            });

        });

        function openSearch() {
            document.getElementById("myOverlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("myOverlay").style.display = "none";
        }

    </script>
}