@model HeaderLinksModel
@using Nop.Web.Models.Common;
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes

@{
    //logo path
    var currentThemeName = "v1"; //EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo.svg";
    var logoPath1 = "~/Themes/" + currentThemeName + "/Content/images/logo.png";
    
    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);

    //Currency
    var currencyActief = "IDR";
    if (Model.AvailableCurrencies.Count > 1)
    {
        var webHelper = EngineContext.Current.Resolve<IWebHelper>();

        var currencies = Model.AvailableCurrencies.Select(x => new SelectListItem
        {
            Text = x.Name,
            Value = webHelper.ModifyQueryString(Url.RouteUrl("ChangeCurrency", new { customercurrency = x.Id }), "returnurl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null),
            Selected = x.Id.Equals(Model.CurrentCurrencyId)
        });

        foreach (var just_currency in currencies)
        {
            if (just_currency.Selected == true)
            {
                currencyActief = just_currency.Text;
            }
        }


    }

    string absolutepath = HttpContext.Current.Request.Url.AbsolutePath;
    var csshome = "";
    if (absolutepath == "/") {
        csshome = "top-balk-mobile homemobile";
    } else {
        csshome = "top-balk-mobile";
    }

}

<!--Top balk-->
<div class="navbar navbar-collapse collapse top-balk" role="navigation">
    <div class="container-fluid cf-padding">
        <div class="row">
            <div class="col-xs-12">

                @*Tab*@
                <nav id="top-nav" class="navbar-right">

                    <ul id="tabs" class="nav navbar-nav" role="tablist">
                        <li role="presentation" class="tab-menu eerst tab-toggle">
                            <a data-toggle="tab" href="#search">Search</a>
                        </li>

                        <li role="presentation" class="tab-menu tweede tab-toggle">
                            <a data-toggle="tab" href="#help">Help</a> @*@currencyActief*@
                        </li>
                        <li role="presentation" class="tab-menu tab-toggle">
                            <a data-toggle="tab" href="#contact">Contact</a>
                        </li>

                        <li role="presentation" class="tab-menu derde tab-toggle">
                            <a data-toggle="tab" href="#myaccount">My account</a>
                        </li>




                        @if (Model.ShoppingCartEnabled)
                        {
                        @*<li id="topcartlink" class="tab-menu dropdown tab-toggle">*@

                        <li role="presentation" class="tab-menu  laatste tab-toggle">

                            @if (!String.IsNullOrWhiteSpace(@Html.Action("FlyoutShoppingCart", "ShoppingCart").ToString()))
                                {
                                <a href="#bag" data-toggle="tab" data-hover="tab">
                                    <span class="cart-label">@T("ShoppingCart"):</span><span class="cart-qty">@Model.ShoppingCartItems</span>
                                </a>
                                }
                                else
                                {
                                <a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">
                                    <span class="cart-label">@T("ShoppingCart"):</span> <span class="cart-qty">@Model.ShoppingCartItems</span>
                                </a>
                                }


                        </li>
                        }
                        @*<li class="stretch"></li>*@
                    </ul>



                    <div class="tab-content">
                        <div class="tab-container">
                            <div role="tabpanel" id="search" class="tab-pane" style="height:82px">
                                @Html.Action("SearchBox", "Catalog")
                            </div>

                            <div role="tabpanel" id="help" class="tab-pane" style="height:140px">
                                <ul class="list-unstyled">
                                    <li><a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("help") })">Order and shipping information</a> </li>
                                    @* <li><a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("faq") })">@T("FAQ")</a> </li> *@
                                    <li><a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("conditionsofuse") })">@T("ConditionsOfUse")</a></li>
                                    <li><a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("returnpolicy") })">@T("ReturnPolicy")</a> </li>
                                </ul>
                            </div>
                            <div role="tabpanel" id="contact" class="tab-pane" style="height:120px">
                                <ul class="list-unstyled">
                                    <li><a href="@Url.RouteUrl("ContactUs")">Contact customer care</a></li>
                                    <li>Email: <a href="mailto:info@shopforbettertomorrows.com">info@shopforbettertomorrows.com</a></li>
                                    @*<li><a href="~/jobs">Jobs</a></li>*@
                                </ul>
                            </div>

                            <div role="tabpanel" id="myaccount" class="tab-pane" style="height:185px">

                                <ul class="list-unstyled">

                                    @if (Model.IsAuthenticated)
                                    {
                                    <li>@Model.Greeting</li>
                                    <li></li>
                                    }

                                    <li>
                                        @Html.ActionLink("My account", "MyAccount", new { controller = "Customer" }, new { @class = "account" })
                                    </li>
                                    <li><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a></li>
                                    <li><a href="~/Order/ConfirmPayments">Confirm payment</a></li>
                                    @*<li> Shipping to: Indonesia</li>*@
                                    @if (Model.IsAuthenticated)
                                    {
                                    <li class="ico-logout"><a href="@Url.RouteUrl("Logout")">@T("Account.Logout")</a></li>
                                    }

                                </ul>

                                @if (!Model.IsAuthenticated)
                                {
                                <div class="tab-pane-footer">
                                    <div class="row">
                                        <div class="col-xs-6 text-center">
                                            <h3><a href="@Url.RouteUrl("Login")" class="ico-login">@T("Account.Login")</a></h3>
                                        </div>
                                        <div class="col-xs-6 text-center">
                                            <h3><a href="@Url.RouteUrl("Register")" class="ico-register">@T("Account.Register")</a></h3>
                                        </div>
                                    </div>
                                </div>
                                }

                            </div>

                            <div role="tabpanel" id="bag" class="tab-pane">
                                @Html.Action("FlyoutShoppingCart", "ShoppingCart")
                            </div>



                        </div>
                    </div>
                </nav>

                @*End Links*@

                @*Notification window*@
                <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="notificationModalLabel">@T("Common.Notification")</h4>
                            </div>
                            <div class="modal-body">
                                @Html.Raw(HttpUtility.JavaScriptStringEncode(Model.AlertMessage))
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end top balk-->
@*Mobile*@
<nav class="navbar navbar-fixed-top @csshome hidden-md hidden-lg visible-xs visible-sm" role="navigation">
    <div class="container-fluid cf-padding">
        <table>
            <tr>
                <td class="logo" style="text-align:left; vertical-align:middle;">
                    <a href="@Url.RouteUrl("HomePage")" class="clean">
                        <img title="@storeName" alt="@storeName" src="@Url.Content(logoPath1)" class="img-responsive sav-logo" style="max-width: 47px; margin-top: 10px;"/>
                    </a>
                </td>

                <td class="tas">
                    <div class="mini-menu">
                        @if (Model.ShoppingCartItems > 0)
                        {
                            <a class="ico-cart" href="@Url.RouteUrl("ShoppingCart")">
                                <span id="mCartItemsQty" class="cart-qty">@Model.ShoppingCartItems</span>
                            </a>
                        }
                        else
                        {
                            <a class="ico-cart" href="@Url.RouteUrl("ShoppingCart")"><span id="mCartItemsQty" class="cart-qty"></span></a>
                        }
                    </div>
                </td>
                <td class="burger">
                    <a class="cd-nav-trigger" style="top: 17px;"></a>
                </td>
            </tr>
        </table>
        @*<table>
            <tr>
                <td class="burger">
                    <a class="cd-nav-trigger">
                    </a>
                </td>
                <td class="logo" style="text-align:center; vertical-align:middle;">
                    <a href="@Url.RouteUrl("HomePage")" class="clean">
                        <img title="@storeName" alt="@storeName" src="@Url.Content(logoPath1)" class="img-responsive sav-logo center-block" />
                    </a>
                </td>
                <td class="tas">
                    <div class="mini-menu">
                        @if (Model.ShoppingCartItems > 0)
                        {
                            <a class="ico-cart" href="@Url.RouteUrl("ShoppingCart")">
                                <span id="mCartItemsQty" class="cart-qty">@Model.ShoppingCartItems</span>
                            </a>
                        }
                        else
                        {
                            <a class="ico-cart" href="@Url.RouteUrl("ShoppingCart")"><span id="mCartItemsQty" class="cart-qty"></span></a>
                        }
                    </div>
                </td>

            </tr>
        </table>*@
    </div>
</nav>




@Html.Partial("_Notifications")


@*@if (Model.ShoppingCartEnabled)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('.header').on('mouseenter', '#topcartlink', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('.header').on('mouseleave', '#topcartlink', function () {
                    $('#flyout-cart').removeClass('active');
                });
                $('.header').on('mouseenter', '#flyout-cart', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('.header').on('mouseleave', '#flyout-cart', function () {
                    $('#flyout-cart').removeClass('active');
                });
            });
        </script>
    }*@
