@model Nop.Web.Models.Flitts.MenuSideMobile

@{ //current category ID
    int currentCategoryId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    }

    //current product ID
    int currentProductId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("productdetails", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
    }

}

<div id="cd-nav" class="cd-nav">
    <div class="cd-navigation-wrapper">
        <div class="cd-half-block">
            @Html.Action("CategoryNavigation", "Catalog", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId, isMobile = true })
        </div><!-- .cd-half-block -->
        <div class="cd-half-block">
            @*<div class="list-group">
                    <ul class="list-unstyled">
                        <li class="list-group-item">@Html.Action("CurrencySelector", "Common")</li>

                        @if (Model.IsAuthenticated)
                        {
                            <li class="list-group-item">
                                @Html.ActionLink(@Model.Greeting, "MyAccount", new { controller = "Customer" }, new { @class = "account" })
                            </li>
                            <li class="list-group-item"><a href="@Url.RouteUrl("Logout")">@T("Account.Logout")</a></li>
                        }
                        else
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("Login")">@T("Account.Login")</a></li>
                        }

                    </ul>
                </div>*@
            <br /><br /><br />
            <div class="list-group">
                <ul class="list-unstyled">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                    <li class="list-group-item">
                        @Html.Action("SearchBox", "Catalog")
                    </li>

                </ul>
            </div>
        </div>


    </div> <!-- .cd-navigation-wrapper -->
</div> <!-- .cd-nav -->
@*<li class="gn-search-item">
        <input class="gn-search" type="search" placeholder="Search">
        <a class="gn-icon gn-icon-search">
            <span>Search</span>
        </a>
    </li>*@