@model CustomerAddressEditModel
@using Nop.Web.Models.Customer;
@{
    //title
    Html.AddTitleParts("Add new address");
    ViewBag.HideMenu = "true";

}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Addresses })
}


@section custnavmob{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Addresses, isMobile = true })
}

<section class="col-main-sml mt-normal">

    @*<h1>@T("Account.CustomerAddresses.AddNew")</h1>*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        var validationSummary = Html.ValidationSummary(true);

        if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
        {
            <div class="message-error">
                @validationSummary
            </div>
        }


        var dataDictAddress = new ViewDataDictionary();
        //Merge ModelState (required for validation)
        dataDictAddress.ModelState.Merge(ViewData.ModelState);
        dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
        @Html.Partial("_CreateOrUpdateAddress", Model.Address, dataDictAddress)



        <div class="form-group">
            <div class="buttons">
                <input type="submit" class="btn btn-info half-width" value="@T("Common.Save")" />
            </div>
        </div>

    }
</section>



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
