@model CustomerAddressListModel
@using Nop.Web.Models.Customer;
@{

    //title
    Html.AddTitleParts("Address book");
    ViewBag.HideMenu = "true";
}


@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Addresses })
}


@section custnavmob{



    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Addresses, isMobile = true })
}


<section class="col-main-sml mt-normal" style="padding-top:2px;">
    @*<h1>@T("Account.CustomerAddresses")</h1>*@
    <div class="row">
        <div class="address-list">
            @if (Model.Addresses.Count > 0)
            {
                for (int i = 0; i < Model.Addresses.Count; i++)
                {
                    var address = Model.Addresses[i];

                    <div class="col-sm-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3>@address.FirstName @address.LastName</h3>
                            </div>
                            <div class="panel-body">
                                <p></p>
                                <p>
                                    @if (address.CompanyEnabled && !String.IsNullOrEmpty(address.Company))
                                    {
                                        @address.Company<br />
                                    }
                                    @if (address.StreetAddressEnabled)
                                    {
                                        @address.Address1

                                    }
                                    @if (address.StreetAddress2Enabled && !String.IsNullOrEmpty(address.Address2))
                                    {
                                        <br />@address.Address2
                                    }
                                    <br />@address.City @address.ZipPostalCode

                                    @*@if (address.StateProvinceEnabled)<br /> @address.StateProvinceName}*@
                                    @if (address.CountryEnabled && !String.IsNullOrEmpty(address.CountryName))
                                    {
                                        <br /> @address.CountryName
                                    }

                                </p>
                                <p></p>
                                <p>
                                    @if (address.PhoneEnabled)
                                    {
                                        @address.PhoneNumber <br />
                                    }

                                    @if (address.FaxEnabled)
                                    {
                                        @Html.LabelFor(model => model.Addresses[i].FaxNumber, new { }, ":") @address.FaxNumber <br />
                                    }

                                    @address.Email
                                </p>


                                <p>
                                    <br />
                                    <a href="@(Url.RouteUrl("customeraddressedit", new { addressid=address.Id }))" class="alt">Edit address</a>
                                    @*<input type="button" class="button-2 delete-address-button btn btn-default" onclick="if (confirm('@(T("common.areyousure").Text)')) {location.href='@(Url.RouteUrl("CustomerAddressDelete", new { addressId = address.Id }))' ;}" value="@T(" common.delete")" />*@
                                </p>
                            </div>
                        </div>
                    </div>

                }
            }
            else
            {
                <div class="col-sm-6">
                    @T("Account.CustomerAddresses.NoAddresses")
                    <br /><br />
                </div>

            }
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="buttons">
                <input type="button" class="btn btn-info  half-width" onclick="location.href='@Url.RouteUrl("customeraddressadd")'" value="Add new address" />
            </div>
        </div>
    </div>



</section>


