@*@model CustomerInfoModel*@

@using Nop.Web.Models.Customer;

@{
    //CustomerEmailUsername = customer.IsRegistered() ? (_customerSettings.UsernamesEnabled ? customer.Username : customer.Email) : "",
    ViewBag.HideMenu = "true";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}


@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.MyAccount })
}

@section custnavmob{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.MyAccount, isMobile = true })
}


<div class="col-main mt-normal" style="margin-bottom:10em;">

    <div class="row">
        <div class="col-sm-12 col-md-4 text-center"><strong>Hello @ViewBag.Name!</strong></div>
        <div class="col-sm-12 col-md-6">
            Here you can keep track of your order history, confirm order, and update your account information.
        </div>
    </div>


    @*<h1>My Account</h1>

        <br />
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>Personal information</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            @ViewBag.Name<br />
                            @Model.Email
                        </p>
                        <p>
                            <br />
                            <a href="@Url.RouteUrl("CustomerInfo")" class="alt">Edit</a>
                            <br />
                            <a href="@Url.RouteUrl("CustomerChangePassword")" class="alt">@T("Account.ChangePassword")</a>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>Confirm payment</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            For bank transfer payment please confirm your payment.
                        </p>
                        <br /><br /><p></p>
                        <div class="buttons text-right">
                            <input type="submit" id="confirm-button" class="button-1 register-next-step-button btn btn-info" value="confirm my payment" name="confirm-button" onclick="location.href='/order/confirmPayment'" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>Address book</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Use your address book to store your billing and shipping address for quick checkout on your next order.
                        </p>
                        <br /><br /><p></p>
                        <p>
                            <a href="@Url.RouteUrl("CustomerAddresses")" class="alt">Update addresses</a>
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>Vouchers</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Use the credit in your voucher to get a discount on your purchase.
                        </p>
                        <br /><br /><p></p>
                        <div class="buttons text-right">
                            <input type="submit" id="voucher-button" class="btn btn-info" value="check balance" name="voucher-button" onclick="location.href='/customer/giftcards'" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Notify me subscriptions</h3>
                </div>
                <div class="panel-body">
                    <p>
                        At this moment you have @ViewBag.TotalBackInStock subscription(s).
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>Reward Points</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Redeem your points to get a discount on your purchase.
                        </p>

                        <h3 class="text-center">@ViewBag.Points Points</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>Order history</h3>
                    </div>
                    <div class="panel-body">
                        @{
                            if (@ViewBag.OrderStatus == "")
                            {
                                <p>You have no order</p>
                            }
                            else
                            {

                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td style="padding-left:0;">@T("Account.CustomerOrders.OrderDate")</td>
                                                <td>@T("Account.CustomerOrders.OrderNumber")</td>
                                                <td>Total</td>
                                                <td>Tracking no.</td>
                                                <td>Status</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:0;">
                                                    @ViewBag.OrderDate
                                                </td>
                                                <td>
                                                    @ViewBag.OrderNumber
                                                </td>
                                                <td>
                                                    @ViewBag.OrderTotal.ToString("IDR ##,##.##")

                                                </td>
                                                <td>
                                                    @{var url = string.Format("http://{0}/{1}", ViewBag.TrackingUrl, ViewBag.OrderTrackingNumber);

                                                    }
                                                    <a href="@url" target="_blank" class="alt">@ViewBag.OrderTrackingNumber</a>
                                                </td>

                                                <td>
                                                    @ViewBag.OrderStatus
                                                </td>
                                                <td style="text-align:right;">
                                                    <a href="@Url.RouteUrl("OrderDetails", new { orderId = Html.AttributeEncode(@ViewBag.OrderNumber) })" class="alt">View details</a>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                                <p></p>
                                <div class="buttons text-right">
                                    <input type="submit" id="confirm-button" class="button-1 register-next-step-button btn btn-info" value="view more orders" name="confirm-button" onclick="location.href='/order/history'" />
                                </div>
                            }
                        }



                    </div>

                </div>
            </div>
        </div>*@
</div>
