@model CustomerBackInStockSubscriptionsModel
@using Nop.Web.Extensions
@using Nop.Web.Models.Catalog
@using Nop.Web.Models.Customer

@{    
    Html.AddTitleParts(T("PageTitle.BackInStockSubscriptions").Text);
    ViewBag.HideMenu = "true";
    
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.BackInStockSubscriptions })
}


<section class="col-main-sml mt-normal">
    <h1>@T("Account.BackInStockSubscriptions")</h1>

    <div class="panel panel-default">
        <div class="panel-heading">

        </div>

        <div class="panel-body">
            @if (Model.Subscriptions.Count > 0)
                {
                    @T("Account.BackInStockSubscriptions.Description")
                    <br />
                    <br />
                    using (Html.BeginRouteForm("CustomerBackInStockSubscriptions", FormMethod.Post))
                    {

                    <div class="subscription-list">
                        <table class="table table-hover">
                            <colgroup>
                                <col width="1" />
                                <col />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="a-center select-boxes">
                                        <input type="checkbox" id="selectall" />
                                    </th>
                                    <th class="a-center product">
                                        @T("Account.BackInStockSubscriptions.ProductColumn")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Subscriptions.Count; i++)
                                    {
                                        var item = Model.Subscriptions[i];
                                    <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                                        <td class="a-center select-boxes">
                                            <input type="checkbox" name="biss@(item.Id)" class="rowcheckbox" />
                                        </td>
                                        <td class="a-left product">
                                            @Html.RouteLink(item.ProductName, "Product", new { SeName = item.SeName })
                                        </td>
                                    </tr>
                                    }
                            </tbody>
                        </table>
                        <div class="pager">
                            @Html.Pager(Model.PagerModel)
                        </div>

                        <div class="form-fields">
                            <div class="buttons text-right">
                                <input type="submit" value="@T("Account.BackInStockSubscriptions.DeleteSelected")" class="btn btn-info half-width" />
                            </div>
                        </div>


                    </div>
                    }
                }
                else
                {

                    @T("Account.BackInStockSubscriptions.NoSubscriptions")
                }
        </div>

    </div>


</section>

    @section scripts{

        <script type="text/javascript">
            $(function () {

                $('#selectall').click(function () {
                    $('.subscription-list .rowcheckbox').attr('checked', $(this).is(':checked')).change();
                });

                $('.subscription-list .rowcheckbox').on('change', function (e) {
                    var numChkBoxes = $('.subscription-list .rowcheckbox').length;
                    var numChkBoxesChecked = $('.subscription-list .rowcheckbox:checked').length;
                    $('#selectall').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                });
            });
        </script>
    }
